<!DOCTYPE HTML>
<html>
  <head>
    <title>员工账号绑定</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="/stylesheets/weui.min.css">
    <link rel="stylesheet" href="/stylesheets/weui.plus.css">
  </head>
  <body>
    <div class="weui-cells weui-cells__no-margin">
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">账号</label>
        </div>
        <div class="weui-cell_bd">
          <input type="text" class="weui-input" placeholder="请输入云数据账号">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">密码</label>
        </div>
        <div class="weui-cell_bd">
          <input type="text" class="weui-input" placeholder="请输入密码">
        </div>
      </div>
    </div>
  </body>
</html>